body {
    background-color: #F9F7F7;
}

h1 {
    color: #112D4E;
    font-size: 4rem;
    text-align: center;
}

input, button {
    font-size: 2rem;

    background-color: #DBE2EF;
    border: none;
    border-radius: 4px;
}

button {
    margin-left: 1rem;
    background-color: #3F72AF;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#search {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none !important;
}

/* Weather forecast body */

#weatherForecast h2 {
    margin-top: .5rem;
    margin-bottom: .5rem;

    text-align: center;
    font-size: 3rem;
    color: #112D4E;
}

#weatherForecast {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;
    border-style: solid;
    border-color: #112D4E;

    background-color: #DBE2EF;
    border-radius: 15px;

}

/* Hourly forecast */


.hourForecast {
    display: flex;
    margin: .7rem;
}

.hourForecast span {
    display: inline-block;
    justify-content: center;
    width: 16.66%;
    font-size: 2rem;
    text-align: center;
}

.labels span {
    font-size: 1.2rem !important;
    margin: .5rem;
}


/* Top bar css */

#topBar div:not(#latAndLon), #topBar span {
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
}

#topBar {
    display: flex;
    justify-content: space-around;
}

#hourOrDaily label {
    font-size: 1.5rem;
}

#latAndLon {
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
}

/* Daily forecast */

#daysForecasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.daysForecast {
    width: 12.5rem;
    text-align: center;
    margin: 1rem;

}

.daysForecast img {
    text-align: center;
}

.dailyName {
    font-size: 1.5rem;
    text-align: center;
}

